

<%= form_for [@league, @team] do |f| %>
  <div>
    <%= f.text_field :name, placeholder: "Name" %>
  </div>
  <%= link_to "Cancel", league_path(:id), class: 'btn grey' %>
  <%= f.submit "Add Team", class:'btn green' %>
<% end %>
