<div class="container">
  <div class="row">
    <div class="col s12 center-align">
      <h1>-Our Mission-</h1>
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="col s12 center-align">
      <h5>
        As Fantasy Football fanatics, we realized we had been playing a product that
        was good, but not great.  We decided to band together and create a product that
        would exceed anything that had ever been seen before.  Here at Fantasy Football,
        we bring never before seen features such as live chat system, live drafts, ability
        to draft with your friends, and much much more!
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center-align">
      <h2>Founders</h2>
    </div>
  </div>
  <div class="row">
    <hr>
    <p></p>
    <hr>
    <div class="col s6 center-img">
      <%= image_tag(asset_path("ellis.jpg"), class:"about-pic center-align") %>
      <h4>Ellis Mitchell</h4>
      <p class="center-align">As the dream behind this app, Ellis brought the fire in Fantasy Football.
        Not only did he wake up at 8AM on weekdays, he also worked a little bit through
        lunch in order to bring you the famous 'Ellis ASL Chat Room'.</p>
    </div>

    <div class="col s6 center-img">
      <%= image_tag(asset_path("david.jpg"), class:"about-pic center-align") %>
      <h4>David Jue</h4>
      <p class="center-align">As the only other lefty in the group, David brought
      the creativity and pizzazz to this app.  He is the driving force behind all the
      grunt work and motivating Ellis.</p>
    </div>

    <div class="row">
      <div class="col s6 offset-s3 center-img">
        <%= image_tag(asset_path("jimmy.jpg"), class:"about-pic center-align") %>
        <h4>Jimmy Cheng</h4>
        <p class="center-align">As the motivation behind our CSS, Jimmy brought a lot of
        backbreaking work to this app.  His constant positivity kept us all going through
        the long winter.</p>
      </div>
    </div>
  </div>
</div>