/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "materialize";
@import "materialize/components/color";
@import "materialize/extras/nouislider";

nav {
  background-color: black;
  box-shadow: none;
}

.header{
  text-align: center;
  padding: 0 18%;
  margin-bottom: 40px;
  border: black;
}
body {
  //background-image: url("navbar_image.jpg");
  background-position: 0px 64px;
  background-size: cover;
  background-repeat: no-repeat;
}
//h2 {
//  color: white;
//  text-align: center;
//  font-family: 'Anton', sans-serif;
//  border-style: solid;
//  border-width: 5px;
//
//}
//h4 {
//  color: black;
//  font-family: 'Anton', sans-serif;
//
//}
/*p {
  color: black;
  border: 1px black;
  border-style: solid;
  width: 80%
}*/
::placeholder {
  color: black;
}

.align-center {
  text-align: center;
}

.link-style {
  font-weight: bold;
  color: black;
}

.bold-red {
  color: red;
  font-weight: bold;
}